@media only screen and (max-width: 375px) {
    body{
        margin: 0px;
    }

    .notifications-conatiner {
        width: 100vw;
    }

    .notifications-conatiner .notifications-info .notifications-count #title {
        font-size: 18px;
    }

    .notifications-conatiner .notifications-info .notifications-count #count {
        margin-top: 10px;
        width: 10px;
    }
    .notification-container .img-container .user-pic{
        width: 50px;
        height: 50px;
    }

    .notification-container .img-container {
        margin-right: 15px;
    }

    .notification-container .notification-content .message,
    .notification-container .notification-content .time,
    .notification-container .notification-content .text {
        font-size: 15px;
    }


}